<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This tasks automatically approves every pending client request.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
  <assignedNode>oa4mp-server</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>for client in ${SERVER_STORE_DIR}/clients/dataPath/*; do 
    
     client_file=`basename ${client}`

     if [ ! -f &quot;${SERVER_STORE_DIR}/clientApprovals/dataPath/${client_file}&quot; ]; then
     
           TIMESTAMP=&quot;`date -u +%Y-%m-%dT%H:%M:%S.000Z`&quot;
           CLIENT_ID=&quot;`xmlstarlet sel -T -t -v &quot;properties/entry[@key=&apos;client_id&apos;]&quot; ${client}`&quot;

           sudo tee &quot;${SERVER_STORE_DIR}/clientApprovals/dataPath/${client_file}&quot; &lt;&lt;EOF
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;
&lt;!DOCTYPE properties SYSTEM &quot;http://java.sun.com/dtd/properties.dtd&quot;&gt;
&lt;properties&gt;
&lt;comment&gt;OA4MP stream store&lt;/comment&gt;
&lt;entry key=&quot;approval_ts&quot;&gt;${TIMESTAMP}&lt;/entry&gt;
&lt;entry key=&quot;approver&quot;&gt;admin&lt;/entry&gt;
&lt;entry key=&quot;approved&quot;&gt;true&lt;/entry&gt;
&lt;entry key=&quot;client_id&quot;&gt;${CLIENT_ID}&lt;/entry&gt;
&lt;/properties&gt;
EOF

     fi

done</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <EnvInjectBuildWrapper plugin="envinject@1.91.2">
      <info>
        <propertiesContent>SERVER_DIR=/var/www/server
SERVER_CONF_DIR=${SERVER_DIR}/conf
SERVER_CONF_FILE=${SERVER_CONF_DIR}/cfg.xml
SERVER_STORE_DIR=${SERVER_DIR}/storage
SERVER_LOG_DIR=${SERVER_DIR}/log</propertiesContent>
        <loadFilesFromMaster>false</loadFilesFromMaster>
      </info>
    </EnvInjectBuildWrapper>
  </buildWrappers>
</project>